<?xml version="1.0" encoding="utf-8" standalone="no"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="org.extra.vision">

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WRITE_SECURE_SETTINGS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.MANAGE_BIOMETRIC" />
    <uses-permission android:name="android.permission.USE_BIOMETRIC" />
    <uses-permission android:name="android.permission.USE_BIOMETRIC_INTERNAL" />

    <application
        android:name=".VisionApp"
        android:allowBackup="false"
        android:label="@string/app_name"
        android:resizeableActivity="false"
        android:supportsRtl="true"
        android:allowClearUserData="false">
        <activity
            android:name=".activities.EnrollActivity"
            android:exported="true"
            android:excludeFromRecents="true"
            android:launchMode="standard"
            android:screenOrientation="portrait"
            android:theme="@style/SudThemeGlifV4" />

        <activity
            android:name=".activities.TryAgainActivity"
            android:excludeFromRecents="true"
            android:launchMode="standard"
            android:screenOrientation="portrait"
            android:theme="@style/SudThemeGlifV4" />

        <activity
            android:name=".activities.FaceEnrollFinishActivity"
            android:excludeFromRecents="true"
            android:launchMode="standard"
            android:screenOrientation="portrait"
            android:theme="@style/SudThemeGlifV4" />

    </application>
</manifest>
